  <header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="/task"></a>
    <% if (req.user[0].id === task.userOwner) { %>
      <a class="icon icon-compose pull-right" href="/task/edit/<%= task.id %>" data-ignore="push"></a>
    <% } %>
    <h1 class="title">Task</h1>
  </header>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <div class="content-padded">
      <p>
        <strong>
          Offered by
        </strong>
      </p>
      <p>
       <%= task.userOwner %>
     </p>
     <p>
      <strong>
        Description
      </strong>
    </p>
    <p>
      <%= task.description %>
    </p>
    <p>
      <strong>
        Cost
      </strong>
    </p>
    <p>
      <%= task.cost %> Coins
    </p>
    <% if (req.user[0].id !== task.userOwner) { %>
      <form method="post" action="/task/<%= task.id %>/purchase">
        <button class="btn btn-positive btn-block">Purchase</button>
      </form>
    <% } %>
  </div>
</div>
