  <header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="/"></a>
    <a class="icon icon-info pull-right" href="/about"></a>
    <h1 class="title">Manage Tasks</h1>
    <nav class="bar bar-tab">
      <a class="tab-item active" href="/tasks">
        <span class="icon icon-search"></span>
        <span class="tab-label">Tasks</span>
      </a>

      <a class="tab-item" href="/manage_tasks">
        <span class="icon icon-pages"></span>
        <span class="tab-label">Manage jobs</span>
      </a>
      <a class="tab-item" href="/user">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profile</span>
      </a>
      <a class="tab-item" href="/add_task">
        <span class="icon icon-plus"></span>
        <span class="tab-label">Add Task</span>
      </a>
      <a class="tab-item" href="/disqus">
        <span class="icon icon-list"></span>
        <span class="tab-label">Chat</span>
      </a>
    </nav>
  </header>
  <div class="content">
    <div class="segmented-control">
      <a class="control-item active" href="#item1mobile">
        Offered
      </a>
      <a class="control-item" href="#item2mobile">
        Purchased
      </a>
    </div>
    <div class="card">
      <div id="item1mobile" class="control-content active">
        <ul class="table-view">
           <% for(var i = 0; i < offeredTasks.length; i++) { %>
            <li class="table-view-cell media">
              <a class="navigate-right" href="/task/<%= offeredTasks[i].id %>">
                <img class="media-object pull-left" src="https://i.imgur.com/Fl98gHq.png" width="42px" height="42px">
                <div class="media-body">
                  Item <%= i %>
                  <p><%= offeredTasks[i].description %></p>
                </div>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
      <div id="item2mobile" class="control-content">
       <ul class="table-view">
        <% for(var i = 0; i < purchasedTasks.length; i++) { %>
         <li class="table-view-cell media">
           <a class="navigate-right" href="/task/<%= purchasedTasks[i].id %>">
             <img class="media-object pull-left" src="https://i.imgur.com/Fl98gHq.png" width="42px" height="42px">
             <div class="media-body">
               Item <%= i %>
               <p><%= purchasedTasks[i].description %></p>
             </div>
           </a>
         </li>
       <% } %>
      </ul>
    </div>
  </div>
</div>
